.characterInformationPopupContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 240px;
  max-width: 500px;
  background-color: red;
  padding: 16px 24px;
  background: var(--color-popupBackground);
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 8px 28px rgba(16, 24, 40, 0.15);
  border: 1px solid rgb(92, 91, 91);
  z-index: 9999;
  font-family: var(--font-latin);
  font-size: 14px;
  color: var(--color-text);
  transform-origin: top left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.characterInformationPopupContainer::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 9999;
  border-width: 6px; /* size of the triangle */
  border-style: solid;
  border-color: transparent transparent var(--color-popupBackground) transparent;
}

.characterInformationPopupContainer::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -100%);
  border-width: 7px; /* size of the triangle */
  border-style: solid;
  border-color: transparent transparent rgb(92, 91, 91) transparent;
}

.characterInformationPopupHeader {
  color: var(--color-text);
  font-family: var(--font-latin);
  font-size: 24px;
}

.characterInformationPopupDefinitionsList {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.characterInformationPopupDefinition {
  color: var(--color-text);
  font-family: var(--font-latin);
  padding-left: 5px;
}
