.readerScreenPageGrid {
  display: grid;
  grid-auto-flow: row;
  line-height: 1;
  flex: 1;
  padding: 36px 24px;
  margin: 24px 0px;
  background-color: var(--color-pageBackground);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.08);

  border-radius: 12px;
}
